<h1>Route Testing</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!routes"><em>Loading...</em></p>

<table class='table' *ngIf="routes">
    <thead>
        <tr>
            <th>Route Name</th>
            <th>Points</th>
            <th>Blocked</th>
            <!-- <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let route of routes">
            <td>{{ route.name }}</td>
            <td>{{ route.points }}</td>
            <td>{{ route.blocked }}</td>
        </tr>
    </tbody>
</table>
