<h1>.NET Core Middleware Demo</h1>

<p>Appveyor Build status: <img src="https://ci.appveyor.com/api/projects/status/github/kmjungersen/middlewareDemo" alt=""></p>

<p>This is an app meant to demonstrate the power and implementation of .NET Core Middleware.  It features the following technologies:</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular 2+</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>Getting started from here is pretty simple:</p>
<ol>
    <li>Navigate to "Route Testing"</li>
    <li>Click around on the line items on this page to trigger sample POST requests to the server</li>
    <li>Navigate to the "Results" page</li>
    <li>Here we can view all of the logged requests since the application fired up and some details on each request</li>
</ol>

